* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lightBlue-color: #6ba5fe;
  --darkBlue-color: #527eeb;
  --lightGrey-color: #f3f4f6;
  --darkGrey-color: #46484b;
  --melon-color: #fa7671;
  font-family: 'Shadows Into Light', helvetica;
  letter-spacing: 0.03em;
  line-height: 1.5;
  font-weight: 400;
}

body {
  width: calc(100vw - (100vw - 100%));
  background-color: rgba(255, 255, 255, 0.87);
  color: var(--darkGrey-color);
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  color: var(--lightBlue-color);
}

h2 {
  font-family: 'Alkatra';
  color: var(--melon-color);
  margin-top: 1.5em;
  font-size: 2.5em;
}

h3 {
  color: var(--lightBlue-color);
  font-size: 1.5em;
  margin-bottom: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 1.5em;
  margin: 0.5em;
  font-size: 1.2em;
  font-family: inherit;
  background-color: var(--darkBlue-color);
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: all ease 0.25s;
}

button:hover {
  transform: scale(1.2);
  background-color: var(--lightBlue-color);
  color: #242424;
}

input:focus-visible {
  outline: auto #fa4659;
}
